<section class="section">
  <div class="container-fluid">
    <div class="heading-wrapper mb-5 text-center">
      <h1 class="display-5">Central Instrumentation Facility - Staff Login</h1>
    </div>
    <div class="row">
      <div class="col-md-6 d-none d-lg-block">
        <img src="https://www.lpu.in/lpu-assets/images/cif/login-left.png" class="img-fluid" alt="Login Image" />
      </div>
      <div class="col-md-6 login-div">
        <div class="container-fluid">
          <form class="forms-sample" [formGroup]="formdata" (ngSubmit)="OnSubmit()">
            <div class="mb-4 cif-input-group">
              <label class="form-label" for="loginid">Login ID</label>
              <input type="text" class="form-control" placeholder="Enter Login ID/ Email" formControlName="Email" id="loginid" required />
              <div *ngIf="submitted || email?.touched || email?.errors" class="text-danger">
                <small *ngIf="email?.errors?.['required']">User  ID is required.</small>
              </div>
            </div>

            <div class="mb-4 cif-input-group">
              <label class="form-label" for="password">Password</label>
              <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Enter password" formControlName="password" id="password" required />
              <i class="input-eye input-eye-slash" (click)="togglePasswordVisibility()"></i>
              <div *ngIf="submitted || passwordText?.touched || passwordText?.errors" class="text-danger">
                <small *ngIf="passwordText?.errors?.['required']">Password is required.</small>
              </div>
            </div>
            <div class="">
              <button type="submit" class="btn btn-primary me-2 mb-2" [disabled]="formdata.invalid">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
