<section class="section">
    <div class="container">
        <div class="heading-wraper mb-4">
            <div class="main-head">
                <h1>About the Instruments </h1>
                <div class="call-action">                   
                </div>
            </div>
        </div>
        <p>
            CIF of Lovely Professional University is equipped with sophisticated instruments to carry out spectral
            measurements, structure determination and chemical analysis. Click on the instrument name in the
            following table to view their description</p>

            <div class="instrument-grid" id="instrumentGrid">
                <div class="instrument-block g-col-lg-3 g-col-6 d-grid" *ngFor="let instrument of tmpscifInstrumentsDataData"
                [ngClass]="{'selected-instrument': instrument.id === this.InstrumentId}">
                    <a class="instrument-link" href="javascript:void(0)"
                        (click)="fetchSpecifications(instrument.categoryId, instrument.id)"
                        data-is-active="instrument.isActive ? 'true' : 'false'}">
                        {{instrument.instrumentName}}
                    </a>
                </div>
            </div>
    </div>
</section>

<section
  class="section bg-dark-yellow"
  *ngIf="isInstrumentActive"
  [ngClass]="{'d-none': !isInstrumentActive, 'bg-dark-yellow': isInstrumentActive}"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-9">
        <div class="heading-wraper mb-4">
          <div class="main-head align-items-start">
            <h2 id="InstrumentName">{{ instrumentName }}</h2>
            <div class="call-action gap-3">
              <a class="lpu-btn mr-2" (click)="openChargesModal(InstrumentId)">Charges</a>
              <a routerLink="/Login" class="lpu-btn">Login/Register</a>
            </div>
            <div class="call-action gap-3 d-none">
              <div
                *ngIf="isInstrumentActive"
                [ngClass]="{'alert-danger': !isInstrumentActive, 'alert-success': isInstrumentActive}"
                class="alert"
                id="InstrumentStatus"
              >
                <strong>{{ isInstrumentActive ? 'Instrument is Active' : 'Instrument is Inactive' }}</strong>
              </div>
            </div>
          </div>
        </div>
        <div
          *ngIf="instrumentStatus"
          [ngClass]="{'alert-danger': !isInstrumentActive, 'alert-success': isInstrumentActive}"
          class="alert"
          id="InstrumentStatus"
        >
          <strong>{{ isInstrumentActive ? 'Instrument is Active' : 'Instrument is Inactive' }}</strong>
        </div>
        <div class="mb-5">
          <img [src]="ImageUrl" alt="Instrument Image" />
        </div>
        <p [innerHTML]="Description"></p>
      </div>
      <div class="col-lg-3">
        <div class="section-light-red p-3">
          <h4 class="font-primary white mb-3">Specifications:</h4>
          <ul class="specifications" id="specificationsList">
            <li *ngFor="let spec of specifications">
              <strong class="d-block">{{ spec.keyName }}:</strong> {{ spec.keyValue }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <section class="section bg-dark-yellow" *ngIf="isInstrumentActive" [ngClass]="{'d-none': !isInstrumentActive, 'bg-dark-yellow': isInstrumentActive}">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="heading-wraper mb-4">
                    <div class="main-head align-items-start">
                        <h2 id="InstrumentName">{{this.instrumentName }}</h2>  
                        <div class="call-action gap-3">
                            <a  class="lpu-btn mr-2" (click)="openChargesModal(this.InstrumentId)">Charges</a>
                            <a routerLink="/Login" class="lpu-btn">Login/ Register</a>
                        </div>
                        <div class="call-action gap-3 d-none"> 
                            <div *ngIf="isInstrumentActive" [ngClass]="{'alert-danger': !isInstrumentActive, 'alert-success': isInstrumentActive}" class="alert" id="InstrumentStatus">
                                <strong>{{ isInstrumentActive ? 'Instrument is Active' : 'Instrument is Inactive' }}</strong>
                              </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="instrumentStatus" [ngClass]="{'alert-danger': !isInstrumentActive, 'alert-success': isInstrumentActive}" class="alert" id="InstrumentStatus">
                    <strong>{{ isInstrumentActive ? 'Instrument is Active' : 'Instrument is Inactive' }}</strong>
                  </div>
                <div class="mb-5">
                    <img src="{{this.ImageUrl}}" />

                </div>
                    <p [innerHTML]="Description"></p>
            </div>
            <div class="col-lg-3">
                <div class="section-light-red p-3">
                    <h4 class="font-primary white mb-3">Specifications:</h4>
                    <ul class="specifications" id="specificationsList">
                        <li *ngFor="let spec of specifications">
                            <strong class="d-block">{{ spec.keyName }}:</strong> {{ spec.keyValue }}
                        </li>
                      </ul>                    
                </div>
            </div>
        </div>
    </div>
</section> -->


<section class="section">
    <div class="container">
        <div class="heading-wraper mb-4">
            <div class="main-head align-items-start">
                <h2>FAQs</h2>
            </div>
        </div>
        <div class="accordion" data-collapsible="true" data-active="false">
            <div class="accordion-header">
                <div class="accordion-title">
                    Field Emission Scanning Electron Microscope (FE SEM)
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong> How many samples can be submitted in a single request form?
                    </dt>
                    <dd>
                        <strong>Ans:</strong> Maximum of 5 samples
                    </dd>
            
                    <dt>
                        <strong>Q2:</strong> Does the Gold sputtering process affect the sample?
                    </dt>
                    <dd>
                        <strong>Ans:</strong> No, the process only creates a very thin coating on the sample surface to enhance the conductivity for good imaging.
                    </dd>
            
                    <dt>
                        <strong>Q3:</strong> What amount of sample is required for FESEM?
                    </dt>
                    <dd>
                        <strong>Ans:</strong>
                        <ul>
                            <li><strong>Powder:</strong> Minimum of 2.5 to 5mg.</li>
                            <li><strong>Film:</strong> Maximum allowed size 1cm x 1cm.</li>
                        </ul>
                    </dd>
            
                    <dt>
                        <strong>Q4:</strong> How will we come to know about the slot allocation?
                    </dt>
                    <dd>
                        <strong>Ans:</strong> The concerned operator/office assistant will intimate you at least a week before your slot by calling you.
                    </dd>
                </dl>
            </div>
            <div class="accordion-header">
                <div class="accordion-title">
                    UV-Vis Spectrophotometer
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong>What wavelength range is used for your UV-Vis  instrument?
                    </dt>
                    <dd>
                        <strong>Ans:</strong>      200 nm to 800 nm 
                    </dd>
            
                    <dt>
                        <strong>Q2:</strong> Can I reuse the sample after the analysis for other experiments?
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  Yes, if your sample is not UV sensitive you can reuse it. UV-Vis spectrometer analysis is a non-destructive method.
                    </dd>
            
                    <dt>
                        <strong>Q3:</strong> Is it necessary to provide final dilution of sample for UV analysis?
                    </dt>
                    <dd>
                        <strong>Ans:</strong>Yes, user must provide the sample in final diluted form.                         
                    </dd>             
                </dl>
            </div>
            <div class="accordion-header">
                <div class="accordion-title">
                    Thermogravimetric analysis
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content"> 
                <dl>
                    <dt>
                        <strong>Q1:</strong> How much sample is required for TGA analysis?
                    </dt>
                    <dd>
                        <strong>Ans:</strong>   5-8mg
                    </dd>
                    <dt>
                        <strong>Q2:</strong>  What is the normally used heating rate in TGA analysis?
                        
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  10⁰ C/Min
                    </dd>
            
                    <dt>
                        <strong>Q3:</strong>  Can we do TGA analysis of Liquid samples?                       
                    </dt>
                    <dd>
                        <strong>Ans:</strong> No! TGA analysis can only be performed on Powder or Film samples.                         
                    </dd>             
                    <dt>
                        <strong>Q4:</strong>   What is the maximum possible heating range of the TGA instrument   available in CIF?                                        
                    </dt>
                    <dd>
                        <strong>Ans:</strong> The maximum temperature range of our instrument is 1000 Degree Celsius.     
                    </dd>             
                </dl>
            </div>
            <div class="accordion-header">
                <div class="accordion-title">
                    Differential Scanning Calorimeter (DSC)
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong> How much sample is required for DSC analysis?
                    </dt>
                    <dd>
                        <strong>Ans:</strong> 8 to 10mg                       
                    </dd>
                    <dt>
                        <strong>Q2:</strong>   Which gases are used for the analysis process?                                         
                    </dt>
                    <dd>
                        <strong>Ans:</strong>     Nitrogen                        
                    </dd>
            
                    <dt>
                        <strong>Q3:</strong>  Which type of sample pan is used in DSC?                                           
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  Aluminium type  
                    </dd>                                 
                </dl>
            </div>
            <div class="accordion-header">
                <div class="accordion-title">
                    Powder X-ray Diffractometer (XRD)  
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong> Can I use the sample after XRD analysis?                        
                    </dt>
                    <dd>
                        <strong>Ans:</strong> Yes! XRD is a non-destructive analysis. So, the sample can be used again. We take utmost care not to contaminate the sample during analysis.                        
                    </dd>
                    <dt>
                        <strong>Q2:</strong>I have an unknown mineral sample. Can I use XRD to identify the sample?                     
                    </dt>
                    <dd>
                        <strong>Ans:</strong>      Yes! XRD can be used to identify the crystal pattern or phases of the sample. For better results and proper identification, we recommend running XRF analysis prior to XRD to identify the elemental composition.                                             
                    </dd>
            
                    <dt>
                        <strong>Q3:</strong> Which Databases are available in CSIF?
                        
                    </dt>
                    <dd>
                        <strong>Ans:</strong>
                        <ul>
                            <li><strong>ICSD (Inorganic Crystal Structure Database)</strong></li>
                            <li><strong>PDF2 ICDD (Previously JCPDS)</strong></li>
                            <li><strong>Software: Highscore Plus</strong></li>
                        </ul>
                    </dd>                                 
                    <dt>
                        <strong>Q4:</strong> What amount of sample is required for XRD?
                    </dt>
                    <dd>
                        <strong>Ans:</strong> Powder: Minimum of 400-500 mg  
                    </dd>                                 
                </dl>
            </div>
            <div class="accordion-header">
                <div class="accordion-title"> FTIR Spectrometer
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong>  What type of samples can be analyzed using FTIR Spectrometer?
                       
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  Powder and Liquid samples.                       
                    </dd>
                    <dt>
                        <strong>Q2:</strong> Can we analyze liquid samples in FTIR Spectrometer?                     
                    </dt>
                    <dd>
                        <strong>Ans:</strong>   Yes.                        
                    </dd>
            
                    <dt>
                        <strong>Q3:</strong> In which all ranges can we obtain IR spectra?                        
                    </dt>
                    <dd>
                        <strong>Ans:</strong>4000-400cm-1                      
                        
                    </dd>                                 
                    <dt>
                        <strong>Q4:</strong> How much sample would be required for FTIR Analysis?                        
                    </dt>
                    <dd>
                        <strong>Ans:</strong> 5mg - 10mg
                    </dd>                                 
                </dl>
            </div>
            <div class="accordion-header">
                <div class="accordion-title"> Gas Chromatography coupled with Mass spectrometry and Flame Ionization Detector
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong> 
                        Can gas samples can be analyzed using GCMS/MS in CIF?                             
                    </dt>
                    <dd>
                        <strong>Ans:</strong> No, samples in Solid and liquid form only can be analyzed in GCMS/MS.                                             
                    </dd>
                    <dt>
                        <strong>Q2:</strong>  Do I have to submit reference standards for Quantitative analysis?                                         
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  Yes, for quantitative analysis user must provide the reference standards.                                            
                    </dd>
            
                    <dt>
                        <strong>Q3:</strong>  Does GCMS/MS results are provided with Library comparison?                                             
                    </dt>
                    <dd>
                        <strong>Ans:</strong>   Yes, NIST library comparison data is provided for each and every compound detected in samples.  
                    </dd>                                 
                    <dt>
                        <strong>Q4:</strong> Direct injection of Mass sample to get mass spectra is possible in CIF or not?
                                               
                    </dt>
                    <dd>
                        <strong>Ans:</strong>   Yes, Direct mass spectra can be obtained by using MS/MS in CIF Facility. 
                    </dd>                                 
                </dl>
            </div>
            <div class="accordion-header">
                <div class="accordion-title">High Performance Liquid Chromatography                   
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong> 
                        What is the minimum quantity required for HPLC analysis?
                                          
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  
                        <ul>
                            <li><strong>For powder samples - 5-10 mg</strong></li>
                            <li><strong>For powder samples - Minimum 2 ml of final Dilution.  </strong></li>
                        </ul>
                                                                  
                    </dd>
                    <dt>
                        <strong>Q2:</strong> Do I have to submit reference standards for Quantitative analysis?                                                               
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  Yes, for quantitative analysis user must provide the reference standards.                                                               
                    </dd>
            
                    <dt>
                        <strong>Q3:</strong> What kind of detectors are available in HPLC?
                                                                     
                    </dt>
                    <dd>
                        <strong>Ans:</strong>   Two detectors are available in HPLC
                        <ul>
                            <li><strong> Photo Diode Array (PDA)</strong></li>
                            <li><strong>Refrective index Detector (RID)    </strong></li>
                        </ul>
                    </dd>                                 
                                                   
                </dl>
            </div>
            
            <div class="accordion-header">
                <div class="accordion-title">Particle size analyser                     
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong> 
                        What are some of the specifications of the instrument?                                          
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  
                        Zetasizer nano uses a laser with λ=633 nm. Samples that absorb in this region are not suitable for analysis. The instrument has a temperature controller capable at examining samples from 2⁰ C-90⁰ C.                                                                                           
                    </dd>
                    <dt>
                        <strong>Q2:</strong> What cuvettes are available for the experiments?                  
                    </dt>
                    <dd>
                        <strong>Ans:</strong>      Low volume quartz cuvette is available for check out. Disposable polystyrene cuvettes are available at the instrument. “Disposable” multiuse folded capillary polystyrene cuvettes for size/zeta measurements are located by the instrument
                    </dd>            
                    <dt>
                        <strong>Q3:</strong>What is the volume of the sample needed for measurements?
                    </dt>
                    <dd>
                        <strong>Ans:</strong>Disposable polystyrene cuvettes require 1 mL of a sample, folded capillary cells take 0.75 mL. The minimum volume of a sample for low volume quartz cell is 12 μL.
                         
                    </dd>                                 
                    <dt>
                        <strong>Q4:</strong>What is a good concentration for my sample?                        
                    </dt>
                    <dd>
                        <strong>Ans:</strong>It depends on the optical properties of the particles, the particle size and polydispersity of the sample.                         
                    </dd>                                 
                                                   
                </dl>
            </div>
            
            <div class="accordion-header">
                <div class="accordion-title">Fluorescence                   
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong> 
                        What type of samples can be analyzed using Fluorescence Spectrometer?                      
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  
                        Powder and Liquid samples                        
                    </dd>
                    <dt>
                        <strong>Q2:</strong>How much sample would be required for FTIR Analysis?                     
                    </dt>
                    <dd>
                        <strong>Ans:</strong>
                        For powder samples minimum 200 mg of sample is required.
                        For liquid samples minimum 2 ml of sample is required.                     
                    </dd>            
                    <dt>
                        <strong>Q3:</strong>Do I need to provide excitation and emission ranges for analysis?                     
                    </dt>
                    <dd>
                        <strong>Ans:</strong>   Yes, user must provide all the specifications required for analysis.                      
                         
                    </dd>                                 
                    <dt>
                        <strong>Q4:</strong>What if you do not know the wavelength region in which your sample will show fluorescence?
                    </dt>
                    <dd>
                        <strong>Ans:</strong> Go for UV spectroscopy measurement, you will get the fluorescence where UV spectrum shows.
                    </dd>                                 
                                                   
                </dl>
            </div>
            
            <div class="accordion-header">
                <div class="accordion-title">ICP-OES
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong> 
                        For elemental analysis, should I submit the final dilution of prepared sample?  
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  
                        Yes, only final dilution of sample with digestion should be submitted for analysis.                        
                    </dd>
                    <dt>
                        <strong>Q2:</strong>What is the minimum quantity of sample required for analysis in ICP-OES?      
                    </dt>
                    <dd>
                        <strong>Ans:</strong>
                        40-50 ml of final dilution of sample is required for analysis.    
                    </dd>            
                    <dt>
                        <strong>Q3:</strong>Do I need to provide reference standards for quantitative analysis?
                    </dt>
                    <dd>
                        <strong>Ans:</strong>Yes, user has to provide reference standards for quantitative estimation.                                                
                    </dd>                    
                                                   
                </dl>
            </div>

            <div class="accordion-header">
                <div class="accordion-title">Electrochemical Workstation                     
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong> 
                        What are the possible area in which electrochemical measurements are being offered?                       
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  
                        Supercapacitors, Batteries , Biosensors, Corrosions, Electrodepositions                                        
                    </dd>
                    <dt>
                        <strong>Q2:</strong> Are you providing photo sensitive measurements of area like photo-detectors, solar cell, photo-catalyst etc. by electrochemical    workstation?                        
                    </dt>
                    <dd>
                        <strong>Ans:</strong>
                        No, as we do not have light source availability right now. 
                            
                    </dd>            
                    <dt>
                        <strong>Q3:</strong> Which type of electrodes are being provided for electrochemical measurements? 
                     
                    </dt>
                    <dd>
                        <strong>Ans:</strong>   Ag/AgCl as reference electrode, Platinum wire as counter electrode, Glass carbon electrode and carbon electrodes.
                                                                    
                    </dd>                    
                    <dt>
                        <strong>Q4:</strong>   Do we need to provide the measurement’s parameter?                    
                    </dt>
                    <dd>
                        <strong>Ans:</strong>Yes, user has to provide all the details of parameter for doing the measurements by using electrochemical workstation                                                                    
                    </dd>                    
                    <dt>
                        <strong>Q5:</strong>Do you prepare the working electrode for doing the electrochemical workstation?                                          
                    </dt>
                    <dd>
                        <strong>Ans:</strong>
                        User has to provide the fully prepared electrodes for doing the measurements. But in some cases electrode may be prepared by 
                        our team and extra charges will be applicable depending on the case to case.
                    </dd>                    
                    <dt>
                        <strong>Q6:</strong> Can I reuse the sample after the analysis for other experiments?                       
                    </dt>
                    <dd>
                        <strong>Ans:</strong>It depends on case to case do need to discuss with the scientific operator. 
                    </dd>                    
                                                   
                </dl>
            </div>
           
            <div class="accordion-header">
                <div class="accordion-title">Viscometer
                </div>
                <div class="accordion-icon">
                    <i class="accordion-closed icon-plus1"></i>
                    <i class="accordion-open icon-minus1"></i>
                </div>
            </div>
            <div class="accordion-content">
                <dl>
                    <dt>
                        <strong>Q1:</strong> 
                        Can I analyse my solid samples in Viscometer?
                    </dt>
                    <dd>
                        <strong>Ans:</strong>  
                        No, user has to provide only liquid samples either free-flowing or slightly viscous samples                        
                    </dd>
                    <dt>
                        <strong>Q2:</strong> 
                        Can I analyse my liquid samples at higher temperature?                           
                    </dt>
                    <dd>
                        <strong>Ans:</strong>
                        No, samples can be measured at only ambient temperature.                             
                    </dd>            
                    <dt>
                        <strong>Q3:</strong>How much quantity of liquid samples is required to do the analysis?                     
                     
                    </dt>
                    <dd>
                        <strong>Ans:</strong>      At least 40-50 ml of liquid sample is required to analyse the viscosity of samples. 
                    </dd>                    
                                                   
                </dl>
            </div>
        </div>
    </div>
</section>

<ng-template #chargesModal let-modal>
    <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Instrument Charges </h3>
        <button type="button" class="btn-close" (click)="modal.close('by: close icon')" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <button type="submit" (click)="navigateToLogin()" class="lpu-btn me-2">Book Test</button>
        <!-- <div class="col-md-12 grid-margin stretch-card"> -->
            <!-- <div class="col-sm"> -->
                <table id="dataTableAllClosedRemarks" #table class="table table-responsive">
                    <thead>
                        <tr>
                            <td class=" fs-5 fw-bold">User Category </td>
                            <td class=" fs-5 fw-bold">Analysis Name</td>
                            <td class=" fs-5 fw-bold">Charges </td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Data of cifInstrumentsCharges">
                            <ng-container *ngIf="Data.orgTypeId == 1; else ExternalUser">
                                <td>
                                    <span class="ms-3  mb-4">External User
                                    </span>
                                </td>
                            </ng-container>
                            <ng-template #ExternalUser>
                                <ng-container *ngIf="Data.orgTypeId == 2; else IndustryUser">
                                    <td>
                                        <span class=" ms-3 mb-4"> LPU User</span>
                                    </td>
                                </ng-container>
                            </ng-template>
                            <ng-template #IndustryUser>
                                <td>
                                    <span class="ms-3  mb-4">Industry Users</span>
                                </td>
                            </ng-template>
                            <td class="  ">{{Data.sampleText}} </td>
                            <td class=" ">{{Data.price | currency:'INR':'symbol'}} </td>
    
                        </tr>
                    </tbody>
                </table>
            <!-- </div> -->
        <!-- </div> -->
    </div>
</ng-template>