.section {
    padding: 60px 0;
  }
  
  .bg-dark-yellow {
    background-color: #f8c51c; /* Replace with your desired dark-yellow color */
  }
  
  .heading-wraper .main-head h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
  }
  
  .cif-slider {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
  }
  
  .cif-item {
    width: 300px;
    text-align: center;
  }
  
  .cif-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .cif-item strong {
    font-size: 1rem;
    color: #333;
  }
  
  .text-center {
    text-align: center;
  }
  
  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  

//   .img-container {
//     height: 200px; /* Set a fixed height */
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: #f0f0f0; /* Optional: background color while loading */
// }

.img-container {
  position: relative;
  width: 100%;
  height: auto;
}
.spinner-border {
  z-index: 10;
}
